<div class="container-fluid">
  <div class="row">
    <div class="banner" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0.1) 0%, rgba(234, 178, 35, 0.1) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473245447/index_chats_w28zyh.png');">
      <%= render '/shared/navbar' %>
      <div class="col-xs-12 col-md-12 text-center">
        <h1 style="margin-top:30vh">Je peux vous aider ?</h1>
        <div class="search-bar">
          <%= simple_form_for :research, url: products_path, method: :get do |f| %>
            <%= f.error_notification %>
            <%= f.input :words, label: false %>
            <%= f.button :submit, class: 'btn-outline-secondary', value: "Rechercher" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-fluid banner-deposits" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0.1) 0%, rgba(234, 178, 35, 0.1) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1474447688/houblon_nfncsb.png');border-bottom: 10px solid #ffba00;">
      <div class="row">
        <div >
          <div style="padding-top:20px;border-top: 10px solid #ffba00;margin-bottom:50px" class="text-center">
            <%= render '/shared/breweries_index' %>
            <%= link_to "Toutes  nos brasserries", breweries_path %>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <div class="brewery-container1" onclick="document.location='deposits/1'">
              <div class="brewery-text text-center"><%= link_to "Magasin de Bordeaux", @bordeaux %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <div class="brewery-container2" onclick="document.location='deposits/1'">
              <div class="brewery-text text-center"><%= link_to "Magasin de Portets", @portets %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <div class="brewery-container3" onclick="document.location='deposits/1'">
              <div class="brewery-text text-center"><%= link_to "Magasin de Mont-de-Marsan", @montdemarsan %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render '/shared/footer' %>
  </div>
</div>

