<div class="container-fluid">
  <div class="row">
    <div class="banner" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0.1) 0%, rgba(234, 178, 35, 0.1) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473245447/index_chats_w28zyh.png');">
      <!-- Navbar Home -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10" style="text-align:left;"><a href="/"><img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1475056659/logo/logo-cave-des-moines.png" alt="" width="250px""></a></div>
          <div class="col-xs-12 col-sm-2" style="padding-right:0px;text-align:right">
            <p>
              <% if current_user %>
                <%= link_to "Historique - ", dashboard_path, class: "connected" %>
                <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "connected" %>
                  <% else %>
                  <%= link_to "Connexion", dashboard_path, class: "connect pull-right" %>
              <% end %>
            </p>
            <% if session[:cart] && session[:cart].count != 0 %>
              <div class="basket text-center">
              <%= link_to image_tag('http://res.cloudinary.com/cavedesmoines/image/upload/v1474012967/basket-cave-des-moines_helall.png', class: 'basket-icon'), cart_path %>
              <p>
              <%= link_to "Votre panier", cart_path %>
              </p>
              </div>
              <% end %>
          </div>
        </div>
      </div>
      <!-- End Navbar Home -->
      <div class="col-xs-12 col-md-12 text-center">
        <h1 style="margin-top:35vh">Je peux vous aider ?</h1>
        <div class="search-bar">
          <%= simple_form_for :research, url: products_path, method: :get do |f| %>
            <%= f.error_notification %>
            <%= f.input :words, label: false, placeholder: "ex : bière gironde..." %>
            <%= f.button :submit, class: 'btn-outline-secondary', value: "Rechercher", data: { disable_with: "Rechercher" } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-fluid banner-deposits" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0.1) 0%, rgba(234, 178, 35, 0.1) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1474447688/houblon_nfncsb.png');border-bottom: 10px solid #ffba00;">
      <div class="row">
        <div >
          <div style="padding-top:20px;border-top: 10px solid #ffba00;margin-bottom:110px" class="text-center">
          <h2 class="cat-beer">Nos Brasseries partenaires</h2>
            <% @partners.each do |partner| %>
              <%= link_to cl_image_tag(partner.photos.first.path, class: 'partner-logo'), partner %>
            <% end %>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <div class="brewery-container1" onclick="document.location='deposits/1'">
              <div class="brewery-text text-center"><%= link_to "Cave de Bordeaux", @bordeaux %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <div class="brewery-container2" onclick="document.location='deposits/3'">
              <div class="brewery-text text-center"><%= link_to "Cave de Portets", @portets %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <div class="brewery-container3" onclick="document.location='deposits/2'">
              <div class="brewery-text text-center"><%= link_to "Cave de Mont-de-Marsan", @montdemarsan %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "News", news_index_path %>
    <%= render '/shared/footer' %>
  </div>
</div>

