<div id="movefromright">
  <div class="container-fluid index-products" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0) 0%, rgba(255, 235, 0, 0) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473258751/index-products_jkifoo.jpg');">
    <%= render '/shared/navbar' %>
    <div class="row">
      <div class="container-fluid">
        <div class="col-xs-12 col-sm-2">
        <%= render '/shared/news' %>
        </div>
          <div class="col-xs-12 col-sm-8">
            <h2 class="cat-beer">Votre Panier</h2>
            <div class="card-show">
              <%= simple_form_for :selected, url: cart_path, method: :patch do |f| %>
                <ul class="cart-size">
                  <% session[:cart].each_with_index do |selected, i| %>
                    <li>
                      <p><%= "#{selected[:product].name}" %></p>
                      <p><%= "#{selected[:product].price}" %> €</p>
                      <% if session[:errors].include?(i) %>
                        <p> La quantité doit être supérieures à 0! </p>
                      <% end %>
                      <%= f.input "quantity_#{i}".to_sym, as: :integer, label: false, input_html: {value: selected[:quantity].to_i || 1} %>
                      <%= f.input "delete_#{i}".to_sym, as: :boolean, label: "supprimer" %>
                      <%= f.input "product_id_#{i}".to_sym, as: :hidden, input_html: { value: selected[:product].id } %>
                    </li>
                  <% end %>
                  <% if session[:cart].count != 0 %>
                    Total : <%= session[:cart].sum { |selected| (selected[:quantity].to_i || 1) * selected[:product].price } %> €
                  <% end %>
                </ul>
                <div>
                </div>
                <div class="text-center">
                <%= f.button :submit, value: "Confirmer la modification", class: 'btn-outline-secondary' %>
                <%= f.button :submit, value: "Commander", class: 'btn-outline-secondary' %>
                </div>
              <% end %>
              <div class="text-center" style="margin-top:20px;margin-bottom:20px">
                  <br />
                  Notre outil de paiement sécurisé est <a href="https://stripe.com/fr" target="_blank">Stripe</a>.
              </div>
            </div>
          </div>
        <div class="col-xs-12 col-sm-2">

        </div>
      </div>
      <%= render '/shared/footer' %>
    </div>
  </div>
</div>
