<div class="container-fluid index-products" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0) 0%, rgba(255, 235, 0, 0) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473258751/index-products_jkifoo.jpg');">
  <%= render '/shared/navbar' %>
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= render '/shared/news' %>
        </div>
          <div class="col-xs-12 col-sm-8 deposit-container">
            <h2 class="cat-deposit"><%= @deposit.name %></h2>
            <div class="card-show">
              <div class="card-deposit-desc pull-left">
              <%= @deposit.description1 %><br /><br />
              <p class="text-center" style="margin-left: 35px;margin-right: 35px;">
              <%= @deposit.name %><br />
              <%= @deposit.address %><br />
              <%= @deposit.postal_code %><br />
              <%= @deposit.city %><br />
              <%= @deposit.country %><br /><br />
              <%= @deposit.complement %></p><br />
              <p style="font-size: 20px" class="text-center"><%= @deposit.description2 %></p>
              </div>
              <div class="card-deposit-map pull-right">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1inLiUuZ4wKTsf34pyaTY1sGD_GE" width="100%" height="300px"></iframe>
              </div>
            </div>
          </div>
        <div class="col-xs-12 col-sm-2">
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <div class="brewery-container1" onclick="document.location='1'">
            <div class="brewery-text text-center"><%= link_to "Cave de Bordeaux", @bordeaux %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <div class="brewery-container2" onclick="document.location='3'">
            <div class="brewery-text text-center"><%= link_to "Cave de Portets", @portets %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <div class="brewery-container3" onclick="document.location='2'">
            <div class="brewery-text text-center"><%= link_to "Bar-Cave de Mont-de-Marsan", @montdemarsan %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render '/shared/footer' %>
  </div>
</div>
