<div>
  <%= simple_form_for :selected, url: carts_path, method: :post do |f| %>
    <%= f.error_notification %>
    <%= f.input :quantity, as: :integer %>
    <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
    <%= f.button :submit, value: "Ajouter au panier" %>
  <% end %>
</div>
