<div class="container-fluid index-products" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0) 0%, rgba(255, 235, 0, 0) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473258751/index-products_jkifoo.jpg');">
  <%= render '/shared/navbar' %>
  <div class="row">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8">
      <h2 class="cat-beer">Vous partiriez sur :</h2>
      <div class="container-fluid">
        <div class="row">
          <div>
            <% if @products.count != 0 %>
              <% @products.each do |product| %>
                <div class="col-xs-12 col-sm-4">
                  <div class="card-show">
                  <div class="card-description">
                    <h2><%= link_to product.name, product_path({id: product.id,
                                                    sku: product.sku,
                                                    alcohol: product.alcohol.sku,
                                                    brewery: product.brewery.sku,
                                                    color: product.color.sku,
                                                    specificity: product.specificity.sku,
                                                    capacity: product.capacity
                                                    })  %></h2>
                        <p><%= product.alcohol.name %> <%= product.color.name %></p>
                        <p>Fermentation : <%= product.fermentation.name %></p>
                        <p>Type : <%= product.kind.name %></p>
                        <p>Provenance : <%= product.region.name %></p>
                        <% if product.specificity.name %>
                        <p> Particularité : <%= product.specificity.name %></p>
                          <% end %>
                  </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div>
                No product for this research... Try again!
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>
</div>
<%= render '/shared/footer' %>
