<div class="container-fluid index-products" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0) 0%, rgba(255, 235, 0, 0) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473258751/index-products_jkifoo.jpg');">
  <%= render '/shared/navbar' %>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <%= render '/shared/news' %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h2 class="cat-beer">Brasserie : <span class="brewery"><%= link_to @product.brewery.name, @product.brewery %></span></h2>
            <div class="card-show">
              <div class="container product-title-cart">
                <div class="row">
                  <div class="col-xs-12 col-sm-10">
                    <div class="card-title-show">
                      <h1><%= @product.name %></h1>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2">
                    <div class="card-cart pull-right text-center">
                      <div>
                        <%= simple_form_for :added, url: carts_path, method: :post do |f| %>
                          <%= f.error_notification %>
                          <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
                          <%= f.button :submit, value: "", data: { disable_with: "" }, class: 'btn-choose pull-right choose' %>
                        <% end %>
                        <div class="add">Ajouter au Panier</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-show-desc pull-left text-center" style="font-size: 120%;">
                <% if @product.degree == @product.degree.to_i %>
                  <h1 class ="degree"><%= "#{@product.degree.to_i} %" %></h1>
                <% else %>
                  <div class ="degree"><%= @product.degree %>%</div>
                <% end %>
                <p class="product-details">Contenance : <%= @product.capacity %> cl</p>
                <p class="product-details price-show">Prix : <%= @product.price %> €</p>
                <p class="product-details">Provenance : <%= @product.region.name %></p>
                <p class="product-details">Brasserie : <b><%= link_to @product.brewery.name, @product.brewery, class: 'brewery' %></b></p>
                <p class="product-details">Type : <%= @product.kind.name %></p>
                <p class="product-details">Couleur : <%= @product.color.name %></p>
                <p class="product-details">Fermentation : <%= @product.fermentation.name %></p>
                <% if @product.specificity %>
                  <p class="product-details"> Particularité : <%= @product.specificity.name %></p>
                <% end %>
              </div>
              <div class="card-show-remi-desc pull-right">
                <div class="product-photo-container text-center">
                  <% if @product.photos && @product.photos.count != 0 %>
                    <%= cl_image_tag @product.photos.first.path, class: "product-photo" %>
                  <% end %>
                </div>
                <p>
                <%= render 'shared/form_cart_selection' %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 refine-search">
            <%= render 'shared/refine-search' %>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12" style="padding:0px">
                <h2 class="cat-beer" style="margin-bottom:30px">Aussi en suggestion : </h2>
                <%= render '/shared/carousel' %>
              </div>
            </div>
          </div>
        </div>
      <%= render '/shared/footer' %>
    </div>
  </div>
</div>
