<div class="container-fluid index-products" style = "background: linear-gradient(to right, rgba(2,0,0,0.4) 0%,rgba(2,0,0,0.42) 1%,rgba(0,0,0,0.38) 18%,rgba(214,214,214,0) 25%,rgba(201,201,201,0) 91%,rgba(0,0,0,0.4) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473258751/index-products_jkifoo.jpg');">
  <%= render '/shared/navbar' %>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <%= render '/shared/news' %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h2 class="cat-beer">Brasserie : <span class="brewery"><%= link_to @product.brewery.name, @product.brewery %></span></h2>
              <%= render '/shared/product-show' %>
          </div>
          <div class="col-xs-12 col-sm-2 refine-search">
            <%= render 'shared/refine-search' %>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12" style="padding:0px">
                <h2 class="cat-beer" style="margin-bottom:30px">Aussi en suggestion : </h2>
                <%= render '/shared/carousel' %>
              </div>
            </div>
          </div>
        </div>
      <%= render '/shared/footer' %>
    </div>
  </div>
</div>
