<!DOCTYPE html>
<html>
  <head>
    <title>La Cave des Moines</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="description" content="Bières et Vins en ligne - Livraison gratuite sur Bordeaux, Portets et Mont-de-Marsan à partir de 20 euros d'achats" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
